@font-face {
  font-family: bestThinFont;
  src: url(./font/Metropolis-Thin.otf);
}

@font-face {
  font-family: bestMediumFont;
  src: url(./font/Metropolis-Medium.otf);
}


@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

body {
  /*text-align: center;*/
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
  margin-right: 0;
  margin-left: 0;
}

h1 {
  text-align: center;
  font-family: bestThinFont;
  color: black;
  font-size: 100px;
  animation: fadein 2s;
}

p {
  text-align: center;
  font-family: bestMediumFont;
  font-size: 20px;
}

.topnav {
  background-color: #333;
  overflow: hidden;

  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
}

/* Style the links inside the navigation bar */

.topnav a {
  font-family: bestThinFont;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  
}

/* Change the color of links on hover */

.topnav a:hover {
  font-family: bestThinFont;
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */

.topnav a.active {
  font-family: bestThinFont;
  background-color: #4CAF50;
  color: white;
}